<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vue3</title>
    <link rel="stylesheet" href="style.css" />
    <script src="https://unpkg.com/vue@3.0.2"></script>
  </head>

  <body>
    <h1>Lists & Attributes with Vue</h1>
    <p>See how the elements change in the console for each mouse event.</p>
    <hr />

    <div id="app">
      <!-- attribute binding -->
      <a v-bind:href="url">My Website</a>

      <!-- lists -->
      <div v-if="showBooks">
        <ul>
          <li v-for="book in books">
            <img v-bind:src="book.img" v-bind:alt="book.title" />
            <h3>{{book.title}}</h3>
            <p>{{book.author}}</p>
          </li>
        </ul>
      </div>
    </div>
    <!-- end #app -->

    <script src="app.js"></script>
  </body>
</html>
